body{
  padding-top: 5%;
  padding-left: 15%;
  padding-right: 15%;
}


h1{
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    padding: 50px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}

h2{
    text-transform: uppercase;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}

 .tab {
    overflow: hidden;
    border-bottom: solid;
    border-width: 5px;
    border-color: cyan;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    border-style: solid;
    margin-right: 10px;
    text-transform: uppercase;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: none;
    border-color: grey;
    border-width: 1px;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Change background color of buttons when selected */
  .tab button:focus {
    background-color:cyan;
    border-color: cyan;
    color:white;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  } 

  /*
  Grunnlaget for TABS hentet fra https://www.w3schools.com/howto/howto_js_tabs.asp
  */